.wrapper {
	min-width: 320px;
	max-width: 1220px;
	padding: 0 40px 0 40px;
	margin: 0 auto;
	position: relative;
}
.shop {
	padding-top: 180px;
	position: relative;
}

.shop .promo-video__decor {
	top: 2.5%;
}

.shop-decor {
	position: absolute;
	right: 0;
	top: 57%;
	width: 32.5%;
	z-index: -1;
}

.shop-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.shop-aside {
	width: 232px;
}

.shop-aside .box-field__search {
	position: relative;
	margin-bottom: 35px;
	
}

.shop-aside .box-field__search i {
	position: absolute;
	right: 21px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 18px;
}

.shop-aside .box-field__search .form-control {
	padding-right: 50px;
}

.shop-aside__item {
	margin-bottom: 55px;
}

.shop-aside__item-title {
	display: block;
	font-size: 24px;
	line-height: 100%;
	text-transform: capitalize;
	padding-bottom: 10px;
	color: #222222;
	font-family: "Tenor Sans";
	border-bottom: 2px solid #222222;
	margin-bottom: 15px;
}

.shop-aside__item ul li a {
	font-size: 16px;
	line-height: 170%;
	color: #666666;
	display: block;
	padding: 13px 0;
	border-bottom: 1px solid #eeeeee;
}

.shop-aside__item ul li a span {
	margin-left: 8px;
	color: #999999;
	font-size: 12px;
}

.shop-aside__item ul li a:hover {
	color: #d05278;
	border-color: #d05278;
}

.shop-aside__item ul li a:hover span {
	color: #d05278;
}

.shop-aside__item .range-slider {
	margin-bottom: 123px;
}

.shop-aside__item-product {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
}

.shop-aside__item-product:first-of-type {
	margin-top: 30px;
}

.shop-aside__item-product:last-of-type {
	margin-bottom: 0;
}

.shop-aside__item-product-img {
	width: 60px;
	height: 70px;
}

.shop-aside__item-product-img img {
	width: 100%;
	height: 100%;
}

.shop-aside__item-product-info {
	margin-left: 15px;
}

.shop-aside__item-product-title {
	display: block;
	font-size: 16px;
	line-height: 170%;
	color: #222222;
	margin-bottom: -4px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.shop-aside__item-product-price {
	color: #999999;
	font-size: 12px;
	line-height: 170%;
	margin-bottom: 5px;
	display: block;
}

.shop-aside__item-product:hover .shop-aside__item-product-title {
	color: #d05278;
}

.shop-main {
	width: -webkit-calc(100% - 294px);
	width: calc(100% - 294px);
}

.shop-main__filter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 32px;
}

.shop-main__items {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 15px;
}

.shop-main__items .products-item {
	width: -webkit-calc(33.3% - 30px);
	width: calc(33.3% - 30px);
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 56px;
}

.shop-main__items .products-item__img {
	height: 370px;
}

.shop-main__items .products-item__name {
	font-size: 20px;
	line-height: 120%;
	margin-bottom: 8px;
}

.shop-main__items .products-item__cost {
	font-size: 18px;
	line-height: 100%;
	font-weight: 400;
}

.shop-main__items .products-item__cost span {
	font-size: 16px;
	line-height: 170%;
}

.shop-main__items .products-item__info {
	margin-top: 30px;
}

.shop-main__items .products-item__sale,
.shop-main__items .products-item__new {
	font-size: 12px;
	padding: 10px 26px;
}

.shop-main__checkboxes {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.box-field__search input[type="search"]::-webkit-search-decoration,
.box-field__search input[type="search"]::-webkit-search-cancel-button,
.box-field__search input[type="search"]::-webkit-search-results-button,
.box-field__search input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}


.box-field .form-control {
	background: #ffffff;
	border: 1px solid #fcedea;
	height: 60px;
	line-height: 60px;
	padding: 18px 29px;
	font-size: 14px;
	width: 100%;
}

.box-field .form-control::-webkit-input-placeholder {
	color: #999999;
	opacity: 1;
}

.box-field .form-control:-ms-input-placeholder {
	color: #999999;
	opacity: 1;
}

.box-field .form-control::-ms-input-placeholder {
	color: #999999;
	opacity: 1;
}

.box-field .form-control::placeholder {
	color: #999999;
	opacity: 1;
}

.box-field .form-control:-ms-input-placeholder {
	color: #999999;
}

.box-field .form-control::-ms-input-placeholder {
	color: #999999;
}

.safari .box-field .form-control {
	line-height: normal;
}
