@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #dcdcdc;
  width: 100%;
  height: 100vh;
  font-family: "SUSE", sans-serif;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.hero-text img{
  width: 1000px;
  height: 700px;
  object-fit: cover;
  border-radius: 50px;
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: 700;
  padding-top: 60px;
}

.hero-text .h2 {
  height: 350px;
  object-fit:contain;
}

.hero-banner {
  width: 70%;
  height: 100%;
  object-fit: cover;
  padding-top: 100px;
  margin-left: 85px;
}
